<template>
    <!-- eslint-disable -->
    <div class="block__body">
        <a17-singlecheckbox :name="fieldName('active')" label="Активность" :initial-value="false" :has-default-store="true" in-store="currentValue"
></a17-singlecheckbox><a17-vselect label="Стиль (тёмный/светлый)" :name="fieldName('gallery_style')" :options='[{&quot;value&quot;:&quot;black&quot;,&quot;label&quot;:&quot;\u0422\u0451\u043c\u043d\u044b\u0439&quot;},{&quot;value&quot;:&quot;white&quot;,&quot;label&quot;:&quot;\u0421\u0432\u0435\u0442\u043b\u044b\u0439&quot;}]' :has-default-store="true" size="large" in-store="inputValue" > </a17-vselect><a17-inputframe label="Images" name="medias.project_block_images" > <a17-slideshow :name="fieldName('project_block_images')" :max="100" crop-context="project_block_images" ></a17-slideshow> </a17-inputframe> <a17-singlecheckbox :name="fieldName('use_slider')" label="Это слайдер" :initial-value="false" :has-default-store="true" in-store="currentValue"
></a17-singlecheckbox><a17-locale type="a17-wysiwyg" :attributes="{ label: 'Text', name: fieldName('text'), options: {&quot;modules&quot;:{&quot;toolbar&quot;:[{&quot;header&quot;:[2,3,4,5,6]},&quot;bold&quot;,&quot;italic&quot;,&quot;underline&quot;,{&quot;list&quot;:&quot;ordered&quot;},{&quot;list&quot;:&quot;bullet&quot;},&quot;link&quot;],&quot;syntax&quot;:false}}, placeholder: 'Text', editSource: true, inStore: 'value' }" ></a17-locale><a17-locale type="a17-filefield" :attributes="{ label: 'Видео MP4', itemLabel: '', name: fieldName('project_block_video_mp4'), note: 'Рекомендуемый размер видео 1920х1080 c битрейтом 10Mbps', max: 1 }"
></a17-locale><a17-textfield label="Видео (ссылка на Vimeo)" :name="fieldName('project_block_video_mp4_link')" type="text" :maxlength="255" in-store="value" ></a17-textfield><a17-singlecheckbox :name="fieldName('use_vimeo_player')" label="Использовать плеер Vimeo" :initial-value="false" :has-default-store="true" in-store="currentValue"
></a17-singlecheckbox>
    </div>
</template>

<script>
  import BlockMixin from '@/mixins/block'

  export default {
    mixins: [BlockMixin]
  }
</script>
