<template>
    <!-- eslint-disable -->
    <div class="block__body">
        <a17-locale type="a17-textfield" :attributes="{ label: 'Заголовок', name: fieldName('title'), type: 'text', required: true, inStore: 'value' }" ></a17-locale><a17-textfield label="ID" :name="fieldName('block_id')" type="text" :required="true" in-store="value" ></a17-textfield>
    </div>
</template>

<script>
  import BlockMixin from '@/mixins/block'

  export default {
    mixins: [BlockMixin]
  }
</script>
