<template>
    <!-- eslint-disable -->
    <div class="block__body">
        <a17-locale type="a17-wysiwyg" :attributes="{ label: 'Текст', name: fieldName('text'), options: {&quot;modules&quot;:{&quot;toolbar&quot;:[{&quot;header&quot;:[2,3,4,5,6]},&quot;bold&quot;,&quot;italic&quot;,&quot;underline&quot;,{&quot;list&quot;:&quot;ordered&quot;},{&quot;list&quot;:&quot;bullet&quot;},&quot;link&quot;],&quot;syntax&quot;:false}}, placeholder: 'Текст', editSource: true, inStore: 'value' }" ></a17-locale><a17-locale type="a17-textfield" :attributes="{ label: 'Название ссылки', name: fieldName('link_title'), type: 'text', maxlength: 250, inStore: 'value' }" ></a17-locale><a17-textfield label="Ссылка" :name="fieldName('link')" type="text" :maxlength="250" in-store="value" ></a17-textfield>
    </div>
</template>

<script>
  import BlockMixin from '@/mixins/block'

  export default {
    mixins: [BlockMixin]
  }
</script>
