<template>
    <!-- eslint-disable -->
    <div class="block__body">
        <a17-inputframe label="Projects" name="browsers.projects"> <a17-browserfield :name="fieldName('projects')" item-label="projects" :max="1" :wide="false" endpoint="/admin/proj/projects/browser" :endpoints="[]" modal-title="Attach projects" :draggable="true" >Add one project</a17-browserfield></a17-inputframe>
    </div>
</template>

<script>
  import BlockMixin from '@/mixins/block'

  export default {
    mixins: [BlockMixin]
  }
</script>
